Repository TelxeyLabs/CodeFace-Core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TelxeyLabs/maintainers, @TelxeyLabs/backend, @TelxeyLabs/frontend, @TelxeyLabs/devops, @TelxeyLabs/docs

chore: add branch protection rules configuration
  protection-rules.json
Owners: @TelxeyLabs/devops

Add GitHub issue and pull request templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @TelxeyLabs/docs

Add premium license and sponsorship configuration
  README.md
  index.js
Owners: @TelxeyLabs/docs, @TelxeyLabs/backend

Add premium license and sponsorship configuration
  .github/FUNDING.yml
  LICENSE
  LICENSE-PREMIUM
  README.md
  src/core/README.md
  src/core/index.js
  src/premium/README.md
  src/premium/index.js
Owners: @TelxeyLabs/devops, @TelxeyLabs/maintainers, @TelxeyLabs/docs, @TelxeyLabs/backend

docs: standardize GitHub username placeholders in Home.md
  Home.md
Owners: @TelxeyLabs/docs

chore: update repository references from Telxey to TelxeyLabs
  .github/workflows/sync-core.yml
  LICENSE-PREMIUM
  README.md
Owners: @TelxeyLabs/devops, @TelxeyLabs/maintainers, @TelxeyLabs/docs

Initial commit: Core CodeFace features
  .github/workflows/ci.yml
  LICENSE
  README.md
  src/README.md
  src/index.js
  src/package.json
Owners: @TelxeyLabs/devops, @TelxeyLabs/maintainers, @TelxeyLabs/docs, @TelxeyLabs/backend

feat: Add .gitignore file
  .gitignore
Owners: @TelxeyLabs/maintainers

feat: Add package.json with core dependencies
  package.json
Owners: @TelxeyLabs/devops

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @TelxeyLabs/maintainers will be requested for
# review when someone opens a pull request.
*       @TelxeyLabs/maintainers

# Backend-specific files
*.js    @TelxeyLabs/backend

# Frontend-specific files
*.html  @TelxeyLabs/frontend
*.css   @TelxeyLabs/frontend

# Configuration files
*.json  @TelxeyLabs/devops
*.yml   @TelxeyLabs/devops
*.yaml  @TelxeyLabs/devops

# Documentation
/docs/  @TelxeyLabs/docs
*.md    @TelxeyLabs/docs
